.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loaderIcon {
  animation: spin 1s linear infinite;
  color: var(--accent-color);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selectionPanel {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3rem;
}

.selectGroup {
  margin-bottom: 3rem;
}

.selectGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.buttonGroup {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 5rem;
}

.confirmButton {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--accent-color);
  padding: 0.8rem 2.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
  min-width: 150px;
  height: 55px;
}
.confirmButton:hover {
  background-color: var(--accent-color);
}
.confirmButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: var(--tertiary-color);
}

.refreshButton {
  background-color: var(--tertiary-color);
  color: white;
  border: 2px solid var(--secondary-color);
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
  min-width: 150px;
  height: 55px;
}
.refreshButton:hover {
  background-color: var(--accent-color);
}
