@import url("../constants/root.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--tertiary-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}
