.floatingScroll {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 16px;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  scrollbar-color: var(--secondary-color) transparent;
}
.floatingScroll:hover {
  scrollbar-color: var(--accent-color) transparent;
}

.floatingScroll > div {
  height: 1px;
}
